<script type="text/template" id="templates/settings/import.html">
  <div class="settings-section settings-section-import">
    <div class="settings-title">
      @@Load_from_Browser
    </div>
    <div class="settings-item">
      <span>@@Load_a_local_piskel_saved_in_this_Browser</span>
      <div class="import-section">
        <button type="button" class="button  button-primary browse-local-button">@@Browse_local_saves</button>
      </div>
    </div>
    <div class="settings-title">
      @@Load_.piskel_file
    </div>
    <div class="settings-item">
      <span>@@Load_a_.piskel_file_from_your_computer</span>

      <div class="import-section">
        <button type="button" class="button button-primary open-piskel-button">@@Browse_.piskel_files</button>
        <span class="file-input-open-piskel-status"></span>
        <input style="display:none"
          type="file" name="open-piskel-input"
          value="file" accept=".piskel"/>
      </div>
    </div>
    <div class="settings-title">
      @@Import_From_Picture
    </div>
    <div class="settings-item">
      <div style="margin-top:5px;margin-bottom:5px;">@@Supports_PNG,_JPG,_BMP,_Animated_GIF</div>
      <div class="import-section">
        <button type="button" class="button  button-primary file-input-button">@@Browse_images</button>
        <input style="display:none"
          type="file" name="file-upload-input"
          value="file" accept="image/*"/>
      </div>
    </div>
    <div class="settings-title">
      @@Recover_recent_sessions
    </div>
    <div class="settings-item">
      @@Browse_backups_of_previous_sessions.
      <div style="margin-top:10px;">
        <button type="button" class="button button-primary browse-backups-button">@@Browse_backups</button>
      </div>
    </div>
  </div>
</script>
