<div class="toolbox-container transformations-container">
  <h3 class="toolbox-title transformations-title">
    <span id="h3-transform">Transform</span>
    <span
      class="transformations-show-more-link piskel-icon-plus"
      title="View more tools"
      rel="tooltip" data-placement="top"
    ></span>
  </h3>
  <ul class="tools-wrapper"></ul>
  <script>
    document.getElementById('h3-transform').innerText = I18n.translate('Transform');
    document.getElementsByClassName('transformations-show-more-link piskel-icon-plus')[0].title = I18n.translate('View more tools');
  </script>
</div>
