<script type="text/template" id="templates/dialogs/browse-backups.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      @@Browse_backups
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content backups-wizard-container"></div>
  </div>
</script>

<script type="text/template" id="backups-select-session">
<div class="backups-step-container">
  <div class="backups-step-content">
    <div class="browse-backups-disclaimer">
      <div class="backups-icon icon-common-backup-white">&nbsp;</div>
      <div class="browse-backups-disclaimer-content">
        <!-- Keep in sync with MAX_SESSIONS in BackupService.js -->
        @@If_you_forgot_to_save_your_work_or_if_Piskel_crashed<!--,_try_to_restore_one_of_the_automatically_backed_up_sessions_below_(up_to_10_sessions).-->
        <br/>
        <br/>
        @@Backups_may_be_erased_without_notice<!--,_so_try_to_save_your_work_to_a_file_or_to_your_gallery_as_soon_as_you_can.-->
      </div>
    </div>
    <div class="session-list">
    </div>
  </div>
</div>
</script>

<script type="text/template" id="session-list-empty">
<div class="centered-message session-list-empty">@@No_session_found_...</div>
</script>

<script type="text/template" id="session-list-error">
<div class="centered-message session-list-error">@@Could_not_load_backup_sessions,_something_went_wrong.</div>
</script>

<script type="text/template" id="session-list-item">
<div class="session-item">
  <div class="session-details">
    <span class="session-details-title">{{name}} {{description}}</span>
    <span class="session-details-info">@@Session_recorded {{date}}</span>
    <span class="session-details-info">{{count}} saved</span>
  </div>
  <div class="session-actions">
    <button class="button" data-session-id="{{id}}" data-action="delete">@@Delete</button>
    <button class="button button-primary" data-session-id="{{id}}" data-action="view">@@View</button>
  </div>
</div>
</script>

<script type="text/template" id="backups-session-details">
<div class="backups-step-container">
  <div class="backups-step-content">
    <div class="snapshot-list"></div>
  </div>
  <div class="backups-step-actions">
    <button class="button back-button">@@back</button>
  </div>
</div>
</script>

<script type="text/template" id="snapshot-list-empty">
<div class="centered-message snapshot-list-empty">@@No_snapshot_found_...</div>
</script>

<script type="text/template" id="snapshot-list-error">
<div class="centered-message snapshot-list-error">@@Could_not_load_snapshots,_something_went_wrong.</div>
</script>

<script type="text/template" id="snapshot-list-item">
<div class="snapshot-item" data-snapshot-id={{id}}>
  <div class="snapshot-preview lowcont-dark-picker-background"></div>
  <div class="snapshot-details">
    <span class="snapshot-details-title">{{name}} {{description}}</span>
    <span class="snapshot-details-info">Snapshot recorded {{date}}</span>
    <span class="snapshot-details-info">{{frames}}, size {{resolution}}, {{fps}}fps</span>
  </div>
  <div class="snapshot-actions">
    <button class="button button-primary" data-action="load" data-snapshot-id="{{id}}">@@Load</button>
  </div>
</div>
</script>
