<script type="text/html" id="templates/settings/export/gif.html">
  <div class="export-panel-gif">
    <div class="export-panel-header export-info">
      @@Convert_your_sprite_to_an_animated_GIF.
    </div>
    <div class="gif-export-warning">
      <div class="gif-export-warning-icon icon-common-warning-red">&nbsp;</div>
      <div class="gif-export-warning-message">
        @@Too_many_colors:_can_not_preserve_original_colors_or_transparency.
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <input id="gif-repeat-checkbox" class="gif-repeat-checkbox checkbox-fix" type="checkbox" />
      <label for="gif-repeat-checkbox"
             title="@@Uncheck_to_play_the_animation_only_one_time."
             rel="tooltip"
             data-placement="top">@@Loop_repeatedly</label>
    </div>
    <div class="export-panel-section export-panel-row">
      <button type="button" class="button button-primary gif-download-button">@@Download</button>
      <div class="export-info">@@Download_as_an_animated_GIF.</div>
    </div>
    <div class="export-panel-section export-panel-row">
      <button type="button" class="button button-primary gif-upload-button">@@Upload</button>
      <div class="export-info">@@Upload_as_an_animated_GIF_to_a_public_URL.</div>
    </div>
    <div class="gif-upload">
      <div class="gif-export-preview"></div>
      <div class="gif-upload-status"></div>
    </div>
  </div>
</script>
