<script type="text/html" id="templates/settings/export/misc.html">
  <div class="export-panel-misc">
    <div class="export-panel-header export-info">
      @@Less_usual_export_formats._Feedback_and_improvements_welcome.
    </div>
    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight">@@Export_as_C_File:_</span>
        <span class="export-info">
          @@C_file_with_frame_rendered_as_array.
        </span>
      </div>
      <button type="button" class="button button-primary c-download-button">@@Download_C_file</button>
    </div>
    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight">@@Export_selected_frame_as_PNG_File:_</span>
        <span class="export-info">
          @@PNG_export_of_the_currently_selected_frame.
        </span>
      </div>
      <button type="button" class="button button-primary selected-frame-download-button">@@Download</button>
    </div>
  </div>
</script>
